@import "tailwindcss";
/* Default = LIGHT MODE */
:root {
  --background: #ffffff;
  --foreground: #000000;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
  /* or use -webkit-appearance: none; appearance: none; */
}

/* Clears the 'X' from Internet Explorer/Edge (legacy) */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
